

 <mat-card class="card"> 
  <mat-card-header>
      <mat-card-title class="title">{{data.title}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-subtitle>

        {{  (data.body) ? (data.body| slice:0:counter)+'..':(data.body) }}
        <span class="redTxt" *ngIf="(data.body)" (click)="toggleSkil()"  >
          {{showTxt}} 
       </span>
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions class="card-btn">
    <a routerLink="/post/{{data.id}}" class="moreBtn">  
      <span>Details</span>
    </a>
</mat-card-actions>
</mat-card>
