<div class="container">

    <div class="post-details">

        <div class="row">
            <div class="col">
                <h1>{{post.title}}</h1>
                <p>
                    {{post.body}}
                </p>
            </div>
        </div>

    </div>
    <br>
    <div class="comments">
        <h4>comments</h4>

        <div *ngFor="let com of comments" >
            <app-comment [data]="com"></app-comment>
            <br>
        </div>
    </div>

    <br>
 <a routerLink="/posts">  <button type="button" class="btn btn-primary">Back to Posts</button></a>


</div>